body {
  font-family: 'Cinzel', serif;
  background-color: #394b59;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cinzel', serif;
  color: #2c90c6;
}

.small {
  font-weight: 300;
  font-style: italic;
  color: #2c90c6;
}
